/* like section */
*{
    margin: 0;
    padding:0;
}
  
   
.section{
    background-color: rgb(221, 177, 230);

    
}

.like-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem;

}

.like-heading{
    text-align: center;
}

/* .col{
    display: grid;
   
} */

/* likeCard section */
.card-layout{
    margin: 15px;
     width: 18rem;
      max-height: 360px ;

     



}