/* like section */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
 
body{
    max-height: 100%;
    background-color: rgb(193, 166, 219);
}
   
.section{
    max-height: 100%;
  

    
}


.like-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem;

}

.like-heading{
    text-align: center;
    margin: 10px;
}

.empty-data{
    height: 200px;
    width:500px;
    padding: 50px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    background-color:rgb(49, 11, 49);
}

.heading-2{
    display: flex;
    justify-content: center;
   text-align: center;
   color:rgb(250, 244, 244);
    
}
/* .col{
    display: grid;
   
} */

/* likeCard section */
.card-layout{
    width:18rem;  
    max-height:360px;
     margin:auto

}

.ctrl-btn{
    outline:none;
    border:none;
    color:red;
    font-size: 20px;
}