*{
    margin:0;
    padding:0;
}
/* Card section */

.card{
  height: 380px;
  width: 300px;
  padding: 5px;
  margin: 30px auto;
}

.card-layout{
  width:18rem;  
  max-height:360px;
   margin:auto

}



/* Home section */
.row{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* .card-row{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

} */

/* .card-col{
  display: flex;
  flex-direction: row;
} */
.container{
    background-color: rgb(182, 179, 228);
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;

 
 
}

.wrap{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 0 0 auto;
  width: 30%;
  justify-content: space-around;
}


@media (max-width: 992px){
.wrap{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 0 0 auto;
width:40%;
  justify-content: space-around;

}  

}

@media (max-width: 700px){
  .wrap{
    display: block;
   
  width:60%;
    justify-content: center;
  
  }  

  .row{
    display: block;
    
      justify-content: space-around;
      width:100%;
      margin: auto;
      align-items: center;
  }

  .card{
    height: 380px;
    width: 300px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 30px auto;
  }
  
  }



